@model Girls_Hub.Models.Admin
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
</head>
<body>
    <div>
        <center><h1>Admin Menu</h1></center>
        <div style="margin-top:200px;">
            <a href="/Admin/AdminMenu" style="font-size:large;margin-left:100px;margin-top:200px;">Admin Menu</a><br />
            <a href="/Product/Product" style="font-size:large;margin-left:100px;">Product Menu</a><br />
            <a href="/User/User" style="font-size:large;margin-left:100px;">User Menu</a><br />
        </div>
    </div>
</body>
</html>
