@{
    ViewBag.Title = "About Girl's Hub";
}
<h2>@ViewBag.Title.</h2>
<h3>Introduction</h3>
<p>    It contains the latest fashion trends for women. It offers a wide range of items for girls to buy online. Items include jackets, clothes, watches, coats, sweater, eastern dresses and accessories. </p>
<h3>Overview</h3>
<p>    Girl’s Hub is an all in one store for girls to buy things they need, as it has items from different brands and dresses of different designers. Girls would be able to browse categories of brands or designers or simple price ranges. </p>