@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <p><b>Cell Phone: </b>0300-1234567</p>
</address>

<address>
    <strong>Email ID:</strong>   <a href="mailto:bcsf11m002@pucit.edu.pk">bcsf11m002@pucit.edu.pk</a><br />
</address>